@charset "ISO-8859-1";

body{
	background-color: #FAF0E6;	
	background-color: #093;
background-position: 0 0;
background-clip: content-box;
background-origin: border-box;
background-size: auto;
}
